<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:pluto="http://www.w3.org/2001/pluto.html"
    package="tk.championswimmer.theme.Sunflower"
    android:hasCode="false"
    android:versionCode="7" android:versionName="0.0.7">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <!-- Make sure this theme APK only shows up on appropriate devices. -->
    
    <application
        android:name="Sunflower"
        android:allowBackup="true"
        android:hasCode="false"
        android:icon="@drawable/icon"
        android:label="AOKP Sunflower Theme">
    </application>

    <theme
        pluto:themeId="Sunflower"
        pluto:styleId="@style/Sunflower"
        pluto:name="@string/theme_name"
        pluto:preview="@drawable/preview"
        pluto:author="@string/author"
        pluto:copyright="@string/copyright"
        pluto:wallpaperImage="@drawable/homescreen"
        pluto:styleName="@string/style_appearance_name">

        <!-- Currently this is not being read, but instead the redirections are
             inferred from the convention res/xml/<package_name>.xml. -->
        <meta-data android:name="com.tmobile.theme.redirections"
            android:resource="@xml/redirections" />

    </theme>

</manifest>
