<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:pluto="http://www.w3.org/2001/pluto.html"
    package="co.aokp.theme.Unicornia"
    android:hasCode="false"
    android:versionCode="2" android:versionName="0.0.2">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <!-- Make sure this theme APK only shows up on appropriate devices. -->
    <uses-feature
        android:name="com.tmobile.software.themes" />

    <application
        android:name="Unicornia"
        android:allowBackup="true"
        android:hasCode="false"
        android:icon="@drawable/icon"
        android:label="AOKP Unicornia Theme">
    </application>

    <theme
        pluto:themeId="Unicornia"
        pluto:styleId="@style/Unicornia"
        pluto:name="@string/theme_name"
        pluto:preview="@drawable/preview"
        pluto:author="@string/author"
        pluto:copyright="@string/copyright"
        pluto:wallpaperImage="@drawable/homescreen"
        pluto:styleName="@string/style_appearance_name">

        <!-- Currently this is not being read, but instead the redirections are
             inferred from the convention res/xml/<package_name>.xml. -->
        <meta-data android:name="com.tmobile.theme.redirections"
            android:resource="@xml/redirections" />

    </theme>

</manifest>
